@model IEnumerable<NorthwindTechUniversity.Web.Models.ViewModels.EnrollmentViewModel>
@{
    ViewBag.Title = "Enrollments";
}

<h2>Enrollments</h2>

<p>
    @Html.ActionLink("Create New Enrollment", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Semester</th>
            <th>Grade</th>
            <th>Enrollment Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.Semester)</td>
                <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                <td>
                    @Html.ActionLink("Enter Grade", "Entry", "Grade", new { enrollmentId = item.EnrollmentId }, new { @class = "btn btn-sm btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>
